p {
    color: #EAB56F;
    font-family: 'Danfo';
    font-size: 80px;
    font-weight: bolder;
    font-style: italic;
    text-align: right;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

h1 {
    text-align: end;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 60px;
    text-transform: capitalize;
    text-decoration: none;
    color: #E37239;
    display: inline;
}

h2 {
    text-align: end;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
    text-transform: capitalize;
    text-decoration: none;
    color: #E37239;
    display: inline;
}

hr{
    border-color: #F9982F;
}

body{
    background-color: #254252;
}