body{
    height: 100%;
    background-color: #333;
    color: azure;
}

form{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

fieldset{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    border-radius: 8px;
}

input{
    background-color: #333;
    color: azure;
    border-color: azure;
    border-radius: 5px;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
}